@media screen and (max-width:499px) {
    nav >  .menu_input_label_div > label > img{
       display: flex;
    }
    #nav_logo{
        width: 100px;
    }
    body{
        position: relative;
    }
    nav > .ul_div {
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -200px;
        background-color: #FFC222;
        background-color: rgb(48, 48, 48);
        transition: 1s all ease;
    }
    nav > .ul_div > ul > li > a{
        padding: 8px 15px ;
        border-radius: 5px;
        background-color: #FFC222;
        color: black;
    }
    .list{
        display: block;
    }
    .menu_close{
     display: block;
    }
    nav > .ul_div > ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #menu_check:checked + .menu_label > .menu_open{
        display: none;
    }
    #menu_check:checked ~ .ul_div {
        left: 0;
        transition: 1s all ease;
    } 


}