/* header start here */
@media screen and (min-width:200px) and (max-width:599px) {

nav > img{
    width: 100px;
}
nav > .ul_div{
    width: 30%;
    height: 80vh;
    background-color: aquamarine;
    position: relative;
    top: 304px;
    left: 115px;
    z-index: 2;
    display: none;
}
nav > .ul_div > ul{
    display: block;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > .cart{
    display: none;
}
nav .login_btn{
    display: none;
    /* padding: 5px 20px; */
}
nav > .menu_label > img.menu_open{
    display: block;
    width: 25px;
}
nav > .menu_label > img.menu_close{
    /* display: block; */
    width: 25px;
}
#check:checked ~.ul_div{
    display: flex;
}
}

/* header end here */