* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Bungee";
  src: url(Fonts/Bungee/Bungee-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "fontTwo";
  src: url(Fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(145, 0, 48);
}

nav .logoDiv strong {
  color: white;
  font-family: "Bungee";
  font-size: 250%;
  cursor: pointer;
}
nav .ulDiv {
  width: 30%;
  height: 50%;
}
nav .ulDiv ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .ulDiv ul li {
  list-style: none;
}
nav .ulDiv ul li a {
  font-family: "fontTwo";
  color: white;
  text-decoration: none;
  font-size: 120%;
  padding: 10px 20px;
}
nav .ulDiv ul li a:hover {
  background-color: white;
  color: rgb(145, 0, 48);
  border-radius: 5px;
}

nav .cartDiv {
  background-color: white;
  width: 5%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 8px;
}
nav .cartDiv img {
  width: 30px;
  cursor: pointer;
}
nav .cartDiv span {
  background-color: rgb(145, 0, 48);
  width: 20%;
  height: 50%;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-family: "fontTwo";
}
nav .loginDiv img {
  width: 80%;
  cursor: pointer;
}

/* MAIN SECTION */
.heroDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: lightcoral; */
}
.bannerDiv {
  width: 70%;
  height: 50vh;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(banner/bannerOne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerDiv img {
  width: 30px;
  cursor: pointer;
}
.bannerDiv .rightArrow {
  transform: rotate(-180deg);
}
#cardDisplay {
  width: 80%;
  height: 100%;
  border: 1px solid;
  display: flex;
  padding: 10px 10px;
}

/* Cards */
.cardBox {
  width: 25%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 5px;
  border-radius: 10px;
  border: 1px solid rgb(160, 160, 160);
}
.imgDiv {
  /* border: 1px solid; */
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.imgDiv .mainIMG {
  width: 60%;
  /* object-fit: cover; */
}
.desDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
  /* border: 1px solid; */
  width: 100%;
  height: 20%;
}
.desDiv h2,
h3 {
  font-family: "fontTwo";
}
.starDiv {
  /* border: 1px solid; */
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}
.sold{
  color: gray;
  padding-left: 10px;
}
.starsImg{
  width: 4%;
}

.btnCart {
  /* border: 1px solid; */
  width: 60%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(145, 0, 48);
}
.btnCart .cartBTN {
  font-family: "fontTwo";
  font-weight: 900;
  color: white;
}
