*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
    font-weight: 600;
}
/* header start here */
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
nav{
    width: 100%;
    height: 10vh;
    /* border: 2px solid black; */
    background-color: rgb(247, 171, 29);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > .ul_div {
    width: 40%;
    height: 50%;
    display: flex;
}
nav > .ul_div > ul {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
nav > .ul_div > ul > li{
    display: flex;
    align-items: center;
    gap: 2px;
}
nav > .ul_div > ul > li >a{
    text-decoration: none;
    font-family:cursive;
    font-weight: 600;
    color: rgb(22, 22, 22);
}
nav > .cart{
    background-color:rgb(0, 0, 0);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 10%;
    height: 55%;
    border-radius: 5px;
}
nav > .cart > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
nav > a{
    border: 1px solid black;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
}
nav > .night_light{
    /* background-color: aquamarine; */
    position: relative;
    /* width: %; */
    height: 40%;
}
nav .night_light > img{
    position: absolute;
    cursor: pointer;
}
nav .night_light > .light{
    display: none;
}
nav > input{
    display: none;
}
nav > label{
    /* border: 1px solid black; */
    width:3%;
    height: 40%;
    position: relative;
}
nav > label > img{
    position: absolute;
}
nav > label > .menu_close{
    display: none;
}
/* header end here */
/*  */
/*  */
/* main section start here */
.hero_section{
    width: 100%;
    height: 65vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero_section > #arrow_right{
    width: 24px;
    cursor: pointer;
}
/* main section end here */
