*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
    font-weight: 600;
}
/* header start here */
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
nav{
    width: 100%;
    height: 10vh;
    /* border: 2px solid black; */
    background-color: rgb(247, 171, 29);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > .ul_div {
    width: 40%;
    height: 50%;
    display: flex;
}
nav > .ul_div > ul {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
nav > .ul_div > ul > li{
    display: flex;
    align-items: center;
    gap: 3px;
}
nav > .ul_div > ul > li >a{
    text-decoration: none;
    font-family:cursive;
    font-weight: 600;
    color: rgb(22, 22, 22);
}
nav > .ul_div > ul > li >a:hover{
    transform: scale(1.04);
    /* transition: 1s all ease; */
    font-weight: 800;
}
nav > .cart{
    background-color:rgb(0, 0, 0);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 10%;
    height: 55%;
    border-radius: 5px;
}
nav > .cart > a{
    text-decoration: none;
    color: rgb(247, 171, 29);
    font-weight: 600;
}
nav > .cart > img{
    width: 20px;
}
nav > a{
    border: 1px solid black;
    background-color:rgb(0, 0, 0);
    color: rgb(247, 171, 29);
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
}

nav > .night_light{
    /* background-color: aquamarine; */
    position: relative;
    /* width: %; */
    height: 40%;
}
nav > .night_light > img{
    position: absolute;
    cursor: pointer;
}
nav > #dark-light-input{
    display: none;
}
nav >  #dark-light-input:checked + .night_light > .nightMode{
    display: none;
}
nav >  #dark-light-input:checked + .night_light > .lightMode{
    display: block;
}
nav > .night_light > .lightMode{
    display: none;
}
nav > #check{
    display: none;
}
nav > .menu_label{
    /* border: 1px solid black; */
    width:3%;
    height: 40%;
    position: relative;
}
nav > .menu_label > img{
    position: absolute;
}
nav > .menu_label > .menu_close{
    display: none;
}
nav > .menu_label > .menu_open{
    display: none;
}

nav > #check:checked + .menu_label > .menu_open{
    display: none;
}
nav > #check:checked + .menu_label > .menu_close{
    display: block;
}
/* header end here */
/*  */
/*  */
/* main section start here */
.hero_section{
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero_section_child_1{
    width: 80%;
    height: 70vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.hero_banner{
    width: 90%;
    height: 60vh;
    border: 2px solid brown;
}
.hero_section>.hero_section_child_1> .hero_banner> img{
    width: 100%;
    height: 100%;
}
.hero_section_child_2{
    width: 80%;
    height: 10vh;
    border: 1px solid darkblue;
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
}
.hero_section > #arrow_right{
    width: 24px;
    cursor: pointer;
}
.hero_section > .hero_section_child_2 > .order_div{
    /* border: 1px solid black; */
    padding: 15px 60px;
    background-color: rgb(247, 171, 29);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
     transition: 1s all ease;
}
.hero_section > .hero_section_child_2 > .order_div::before{
    content: "";
    background-color: rgb(239, 32, 32);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    left: -280px;
    /* border-radius: 5px; */
    z-index: -1;
     transition: 1s all ease;
}
.hero_section > .hero_section_child_2 > .order_div > a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 900;
}
.hero_section > .hero_section_child_2 > .order_div + .order_btn:hover{
    color:rgb(247, 171, 29) ;
    transition: 1s all ease;
}
.hero_section > .hero_section_child_2 > .order_div:hover::before{
    left: 0;
    color: white;
    /* transition: 1s all ease; */
}

/* main section end here */
