*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav{
    width: 100%;
    height: 10vh;
    background-color: #FFC222;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav >  .menu_input_label_div > input{
    display: none;
}
nav >  .menu_input_label_div > label > img{
    position: absolute;
    display: none;
}
nav > .ul_div{
    width: 20%;
}
nav > .ul_div > ul {
    display: flex;
    justify-content: space-between;
}
nav > .ul_div > ul > li{
    list-style: none;
}
nav > .ul_div > ul > li > a{
    text-decoration: none;
    color: black;
    padding: 8px 15px ;
}
nav > .ul_div > ul > li > a:hover{
    padding: 8px 15px ;
    border-radius: 5px;
    background-color: black;
    color: #FFC222;
}
nav > .login_cart_div{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav > .login_cart_div > a{
    border: 1px solid;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: black;
    color: #FFC222;
}
nav .dark_light_mode_div > input{
    display: none;
}
nav .dark_light_mode_div > label > img{
    position: absolute;
    top: 25px;
}
nav .dark_light_mode_div > label > .light_icon{
    display: none;
}
/* nav section end here */
/* main section start here */

/* hero_section start */
main > .hero_section{
    width: 100%;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .hero_section > .hero_section_banner{
    width: 90%;
    height: 80vh;
    border: 1px solid red;
    background-image: url(banner_pics/banner_2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
main > .hero_section > .hero_section_banner > img{
    cursor: pointer;
}
/* hero_section end */


/* main section end here */